[submodule "sites/all/themes/zen"]
	path = sites/all/themes/zen
	url = git://drupalcode.org/project/zen.git
[submodule "sites/all/modules/chain_menu_access"]
	path = sites/all/modules/chain_menu_access
	url = git://drupalcode.org/project/chain_menu_access.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = git://drupalcode.org/project/pathauto.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = git://drupalcode.org/project/token.git
[submodule "sites/all/modules/path_access"]
	path = sites/all/modules/path_access
	url = git://drupalcode.org/project/path_access.git
[submodule "sites/all/modules/calendar"]
	path = sites/all/modules/calendar
	url = git://github.com/Ruva/aperture-calendar.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = git://github.com/Ruva/aperture-date.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = git://drupalcode.org/project/views.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = git://drupalcode.org/project/ctools.git
[submodule "sites/all/modules/content_access"]
	path = sites/all/modules/content_access
	url = git://drupalcode.org/project/content_access.git
[submodule "sites/all/modules/rules"]
	path = sites/all/modules/rules
	url = git://drupalcode.org/project/rules.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = git://drupalcode.org/project/entity.git
[submodule "sites/all/modules/uuid"]
	path = sites/all/modules/uuid
	url = git://drupalcode.org/project/uuid.git
[submodule "sites/all/modules/cck_select_other"]
	path = sites/all/modules/cck_select_other
	url = git://drupalcode.org/project/cck_select_other.git
[submodule "sites/all/modules/privatemsg"]
	path = sites/all/modules/privatemsg
	url = git://drupalcode.org/project/privatemsg.git
[submodule "sites/all/modules/login_destination"]
	path = sites/all/modules/login_destination
	url = git://drupalcode.org/project/login_destination.git
[submodule "sites/all/modules/recaptcha"]
	path = sites/all/modules/recaptcha
	url = git://drupalcode.org/project/recaptcha.git
[submodule "sites/all/modules/captcha"]
	path = sites/all/modules/captcha
	url = git://drupalcode.org/project/captcha.git
