[submodule "sites/all/themes/zen"]
	path = sites/all/themes/zen
	url = git://drupalcode.org/project/zen.git
[submodule "sites/all/modules/chain_menu_access"]
	path = sites/all/modules/chain_menu_access
	url = git://drupalcode.org/project/chain_menu_access.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = git://drupalcode.org/project/pathauto.git
