/**
 * @file
 * Form Styling
 */


.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1em 0em 0em 0em;
  text-align:right;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error { /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}

.form-item label { /* The label for a form element */	
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #888;
	display: inline;
	font-weight:normal;
}

.form-item-field-t-shirt-size-und, .form-item-field-education-und, #edit-field-tutor-before-und, #edit-field-tutoring-duration-und {
	text-align:left;
	margin-left:426px;
}

.form-item label[for=edit-field-certified-und], label[for=edit-field-know-paste-und], label[for=edit-field-skills-and-interests-und-0-value], label[for=edit-field-exp-teaching-und-0-value], label[for=edit-field-tennis-tutoring-und], label[for=edit-field-time-availability-und], label[for=edit-field-tutor-before-und], label[for=edit-field-more-on-tutor-und-0-value], label[for=edit-field-tutor-focus-und], label[for=edit-field-gender-preference-und], label[for=edit-field-grade-preference-und], label[for=edit-field-gpa-preference-und], label[for=edit-field-behavior-preference-und], label[for=edit-field-tutoring-duration-und], label[for=edit-field-athlete-group-preference-und],label[for=edit-field-case-study-und-0-value], label[for=edit-field-other-comments-und-0-value], label[for=edit-field-why-paste-und-0-value] {
	margin-right: 535px;	
}

.form-item-field-t-shirt-size-und label[for=edit-field-t-shirt-size-und], .form-item-field-education-und label[for=edit-field-education-und] {
	margin-left: -88px;	
}

.form-item label.option { /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}

.form-required { /* The part of the label that indicates a required field */
  color: #c00;
}

.form-item .description { /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
  display:none;
}

.form-checkboxes .form-item,
.form-radios .form-item { /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0; /* Drupal core uses "0.4em 0" */
  text-align:left;
}

.form-checkboxes {
	text-align:left;
	margin-left: 426px;
}

.form-submit { /* The submit button */
	display: inline-block;
	position: relative;
	color: #888;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
	text-decoration: none;
	text-align: center;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: 700;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #bcbcbc;

	/*-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12);*/

	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}


.form-submit:hover {
	color: #555;
}

.form-submit:active, .form-submit:active:after, .form-submit:active:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-inline div,
.container-inline label { /* Inline labels and form divs */
  display: inline;
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul { /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link { /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link { /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}

#edit-name, #edit-pass, #edit-mail, #edit-field-first-name-und-0-value, #edit-field-last-name-und-0-value, #edit-field-phone-number-und-0-value, 
#edit-field-birthday-und-0-value, #edit-field-current-employer-und-0-value, #edit-field-emergency-contact-und-0-value, #edit-field-emergency-number-und-0-value, #edit-field-language-und-0-value{
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	width: 200px;
	font-size: 12px;
	margin: 0px 0px 0x 2px;
	background: #F9F9F9;
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float:right;
	margin-right:308px;
	margin-left: 10px;
}

#edit-submit {
	margin-left:583px;
	margin-top:10px;
}

.run-report-wrapper {
	width:510px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	font-size: 10px;
}

#from-date, #to-date {
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	width: 150px;
	font-size: 12px;
	margin: 0px 0px 0x 2px;
	background: #fcfcfc;
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: 10px;
}

.error-label-start {
	font-size: 9px;
	width: 200px;
	display: inline;
	text-transform: uppercase;
	color: #747474;
	position: absolute;
	left: 240px;
}

.error-label-end {
	font-size:9px;
	width:200px;
	display:inline;
	text-transform: uppercase;
	color: #747474;
	position: absolute;
	left: 422px;
}

.saveToScv {
	font-size:11px;
	margin-left:10px;
	vertical-align: middle;
	margin-top: 1px;
}

.checkboxText {
	width:auto;
	display:inline;
	vertical-align: middle;
	color: #8B8B8B;
}