/**
 * @file
 * Form Styling
 */

.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1em 0em 0em 0em;
  text-align:right;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error { /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}

.form-item label { /* The label for a form element */	
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #888;
	display: inline;
	font-weight:normal;
}

.form-item legend {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #888;
	display: inline;
	font-weight:normal;
}

.form-item span[class=fieldset-legend] {
	margin-right: 535px;
}

.form-item-field-t-shirt-size-und, .form-item-field-education-und, #edit-field-tutor-before-und, #edit-field-tutoring-duration-und {
	text-align:left;
	margin-left:426px;
}

.form-item label[for=edit-field-certified-und], label[for=edit-field-know-paste-und], label[for=edit-field-skills-and-interests-und-0-value], label[for=edit-field-exp-teaching-und-0-value], label[for=edit-field-tennis-tutoring-und], label[for=edit-field-time-availability-und], label[for=edit-field-tutor-before-und], label[for=edit-field-more-on-tutor-und-0-value], label[for=edit-field-tutor-focus-und], label[for=edit-field-gender-preference-und], label[for=edit-field-grade-preference-und], label[for=edit-field-gpa-preference-und], label[for=edit-field-behavior-preference-und], label[for=edit-field-tutoring-duration-und], label[for=edit-field-athlete-group-preference-und],label[for=edit-field-case-study-und-0-value], label[for=edit-field-other-comments-und-0-value], label[for=edit-field-why-paste-und-0-value] {
	margin-right: 535px;	
}

.form-item-field-t-shirt-size-und label[for=edit-field-t-shirt-size-und], .form-item-field-education-und label[for=edit-field-education-und] {
	margin-left: -88px;	
}

.form-item label.option { /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}

.form-required { /* The part of the label that indicates a required field */
  color: #c00;
}

.form-item .description { /* The descriptive help text (separate from the label) */
  font-size: 12px;
  display:none;
}

.form-checkboxes .form-item,
.form-radios .form-item { /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0; /* Drupal core uses "0.4em 0" */
  text-align:left;
}

.form-checkboxes {
	text-align:left;
	margin-left: 426px;
}

.form-submit {
	 /* The submit button */
	display: inline-block;
	position: relative;
	color: #888;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
	text-decoration: none;
	text-align: center;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: 700;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #bcbcbc;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}


.form-submit:hover {
	color: #555; 
}

.form-submit:active, .form-submit:active:after, .form-submit:active:before {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.container-inline div,
.container-inline label { /* Inline labels and form divs */
  display: inline;
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul { /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link { /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link { /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}

/* register new account link */

/* .register-account {
	position: absolute;
	width: 175px;
	top:320px;
	left:440px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 15px; */

#edit-name, #edit-pass, #edit-mail, #edit-field-first-name-und-0-value, #edit-field-last-name-und-0-value, #edit-field-phone-number-und-0-value, 
#edit-field-birthday-und-0-value, #edit-field-current-employer-und-0-value, #edit-field-emergency-contact-und-0-value, #edit-field-emergency-number-und-0-value, 
#edit-field-language-und-0-value, #edit-current-pass, #edit-title, #edit-subject {
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	width: 200px;
	font-size: 12px;
	margin: 0px 0px 0x 2px;
	background: rgb(253, 253, 253);
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float:right;
	margin-right:308px;
	margin-left: 10px;
}

#edit-submit {
	margin-left:583px;
}

.run-report-wrapper {
	width:520px;
	margin-left:auto;
	margin-right:auto;
	text-transform:uppercase;
	font-size: 10px;
}

#from-date, #to-date {
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	width: 150px;
	font-size: 12px;
	margin: 0px 0px 0x 2px;
	background: #fcfcfc;
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: 10px;
}

.error-label-start {
	font-size: 9px;
	width: 200px;
	display: inline;
	text-transform: uppercase;
	color: #747474;
	position: absolute;
	left: 240px;
}

.error-label-end {
	font-size:9px;
	width:200px;
	display:inline;
	text-transform: uppercase;
	color: #747474;
	position: absolute;
	left: 422px;
}

.saveToScv {
	font-size:11px;
	margin-left:10px;
	vertical-align: middle;
	margin-top: 0px;
}

.checkboxText {
	width:auto;
	display:inline;
	vertical-align: middle;
	color: #8B8B8B;
}

/* Birthday field in register page */

.date-processed {
	padding-left: 360px;
	border: 0px;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: rgb(136, 136, 136);
}

#edit-field-birthday-und-0-value {
	padding-left: 20px;
}

/* T-Shirt Size extend bottom space of register page */
#edit-field-t-shirt-size {
	padding-bottom: 20px;
}

/* Education field in register page */
.form-item-field-education-und-0-select-other-list {
	display: inline;
	margin-left: 360px;
}

.form-item-field-education-und-0-select-other-text-input {
	display: left;
	margin-left: 500px;
}

#edit-field-education-und-0-select-other-list {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}

#edit-field-education-und-0-select-other-text-input {
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	display: ;
}

/* Know PAST&E field in register page */
.form-item-field-know-paste-und-0-select-other-list {
	display: inline;
	margin-left: 205px;
}

.form-item-field-know-paste-und-0-select-other-text-input {
	display: left;
	margin-left: 100px;
}

#edit-field-know-paste-und-0-select-other-list {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}

#edit-field-know-paste-und-0-select-other-text-input {
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
	display: ;
}

.captcha.form-wrapper {
	font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
	margin-left: 100px;
    color: #888;
    display: inline;
    font-weight:normal;
}

/* Current password in Profile Edit page */
.password-strength-title {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #888;
	font-weight:normal;
}

/* New password in profile edit page */
#edit-pass-pass1, #edit-pass-pass2 {
	position: relative;
	left: 10px;
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	width: 200px;
	font-size: 12px;
	background: #F9F9F9;
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.form-item-pass {
	padding-bottom: 10px;
}

.password-suggestions {
	font-family: 'Droid Sans', sans-serif;
	color: #888;
	border-top: 0px solid #E1E1E1;
	border-left: 0px solid #E1E1E1;
	border-bottom: 0px solid #F0F0F0;
	border-right: 0px solid #F0F0F0;
	margin-left: 100px;
}

.password-parent {
	width: 904px;
}

.password-strength {
	position:relative;
}

.confirm-parent {
	width: 607px;
}
/* Profile Picture in User Profile Edit */
#edit-picture {
	border: 1px;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: rgb(136, 136, 136);
	display: inline;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
}

/* Private Message and Timezone in User Profile Edit */
#edit-privatemsg, #edit-timezone {
	border: 1px;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: rgb(136, 136, 136);
	display: inline;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
}

/* -------- REGISTER ACCOUNT LINK ----------  */
.register-account {
	text-transform: uppercase;
	position: absolute;
	left: 428px;
	font-size: 10px;
	margin-top:100px;
}
.register-account a {
	color: #CFCFCF;
	-o-transition: all 0.3s linear; 
  	-webkit-transition: all 0.3s linear; 
  	-moz-transition: all 0.3s linear; 
  	-ms-transition: all 0.3s linear; 
  	transition: all 0.3s linear; 
}

.register-account a:hover {
	color: #ADABAB;
	-o-transition: all 0.3s linear; 
  	-webkit-transition: all 0.3s linear; 
  	-moz-transition: all 0.3s linear; 
  	-ms-transition: all 0.3s linear; 
  	transition: all 0.3s linear; 
}


div.form-actions {
	margin-top: .3em;
}



/* -------- PASSWORD REMINDER FORM ----------  */

.page-user-password #edit-submit {
	margin: 10px 0px 0px 0px;	
	left: 495px;
}




/* -------- VOLUNTEER FEEDBACK PAGE ----------  */
.page-contact .form-item-message label[for=edit-message] {
    
    position: relative;
    top:58px;
}

.page-contact .form-textarea-wrapper {
	height:80px;
	margin-left:426px;
}

.page-contact .form-textarea-wrapper textarea {
	width: 350px;	
}

.page-contact .form-item label.option {
	margin-right: 372px;
}

.page-contact #edit-submit {
	left:80px;
	top:-20px;
}

.page-contact .form-actions 
{
	margin: 0;
}


.page-contact .form-item-mail, .page-contact .form-item-name {
	display:none;
}

.page-contact .form-item-message {
	margin-top: 0px;
	
}





/* --------  ADD NEW CALENDAR TASK PAGE ----------*/

/* align center date picker and add top padding */
.page-node-add-event .form-wrapper {
	border: 0px;
	margin-left:203px;
	padding-top: 1.7em;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color:#888;
}

/*--- date picker block ---*/
.page-node-add-event #edit-field-event-date-und-0-value {
	width:370px;	
}

.page-node-add-event .form-wrapper .fieldset-legend, label[for=edit-field-event-date-und-0-value2] {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #888;
	position:absolute;
	right: 542px;
	margin-top: 43px;
}

.page-node-add-event label[for=edit-field-event-date-und-0-value2] {
	margin-top: 5px;
}

.page-node-add-event label[for=edit-field-event-date-und-0-value-datepicker-popup-0], 
.page-node-add-event label[for=edit-field-event-date-und-0-value2-datepicker-popup-0], 
.page-node-add-event label[for=edit-field-event-date-und-0-value-timeEntry-popup-1], 
.page-node-add-event label[for=edit-field-event-date-und-0-value2-timeEntry-popup-1] {
	float:left;
}

.page-node-add-event select.form-select{
	margin-right: 410px;
}

/*style label for group picker*/
.page-node-add-event label[for=edit-field-group-und]{
	margin-right: 8px;
}

/* hide random border */
.page-node-add-event .form-wrapper #edit-body-und-0-format{
	display:none;
}

/* adjust side textarea */
.page-node-add-event #edit-body-und-0-value {
	width: 360px;
	height: 80px;
	margin-top: 5px	
}

/* hide "edit summary" link and other unneded labels */
.page-node-add-event span.field-edit-link, 
.page-node-add-event label[for=edit-field-event-date-und-0-value-datepicker-popup-0],
.page-node-add-event label[for=edit-field-event-date-und-0-value-timeEntry-popup-1], 
.page-node-add-event label[for=edit-field-event-date-und-0-value2-datepicker-popup-0],
.page-node-add-event label[for=edit-field-event-date-und-0-value2-timeEntry-popup-1]
{
	display:none;
}
/* align textarea discripton */
.page-node-add-event label[for=edit-body-und-0-value] {
	margin-right: 530px;	
}

/* text field style */
.page-node-add-event #edit-field-event-date-und-0-value-datepicker-popup-0, 
.page-node-add-event #edit-field-event-date-und-0-value-timeEntry-popup-1, 
.page-node-add-event #edit-field-event-date-und-0-value2-datepicker-popup-0, 
.page-node-add-event #edit-field-event-date-und-0-value2-timeEntry-popup-1,
.page-node-add-event #edit-field-event-date-und-0-rrule-weekly-interval,
.page-node-add-event #edit-field-event-date-und-0-rrule-count-child, 
.page-node-add-event #edit-field-event-date-und-0-rrule-until-child-datetime-datepicker-popup-0,
.page-node-add-event #edit-field-event-date-und-0-rrule-daily-interval-child {
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	font-size: 13px;
	margin: 0px 0px 0x 2px;
	background: #FDFDFD;
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 1px;
}

.page-node-add-event #edit-field-event-date-und-0-value2 {
		padding: 0px 10px 0px 10px;
}


.page-node-add-event label[for=edit-body-und-0-value] {
	position: relative;
	top: 56px;
}


.page-node-add-event .form-submit {
	float:right;
	margin-right: 165px;	
	margin-top:7px;
}

/* remove spacing below the textarea */
.page-node-add-event .form-textarea-wrapper {
	height: 80px;
	margin-left:227px;
}

/*Style for repeating dates */
.page-node-add-event label[for=edit-field-event-date-und-0-value]{
	position:relative;
	right:32.7em;
	top:23px;
}

.page-node-add-event #repeat-settings-fieldset {
	padding: 0 15px;
	background: rgb(252, 252, 252);
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 25px 0px 10px;
}
.page-node-add-event .form-item-field-event-date-und-0-rrule-weekly-INTERVAL{width: 200px; position:relative; left:75px;}
.page-node-add-event label[for=edit-field-event-date-und-0-rrule-weekly-byday] {position:relative; right:89px;}
.page-node-add-event .form-item-field-event-date-und-0-show-repeat-settings {width:72px;}
.page-node-add-event .form-item-field-event-date-und-0-rrule-FREQ {width:48px;}
.page-node-add-event #edit-field-event-date-und-0-rrule-weekly{ position:relative; right:311px;}
.page-node-add-event .form-type-date-repeat-form-element-radios { text-align:left;}
.page-node-add-event .range-of-repeat .form-radios > div {margin-left: 45px;}
.page-node-add-event .range-of-repeat .until .form-wrapper {position:relative; top:-0.95em;}
.page-node-add-event #edit-field-event-date-und-0-rrule-show-exceptions,
.page-node-add-event label[for=edit-field-event-date-und-0-rrule-show-exceptions],
.page-node-add-event #edit-field-event-date-und-0-rrule-show-additions,
.page-node-add-event label[for=edit-field-event-date-und-0-rrule-show-additions] {display:none;}
.page-node-add-event .form-item-field-event-date-und-0-rrule-daily-byday-radios { position:relative; right:17em;}
.page-node-add-event #edit-actions { margin-top: -15px; }


/* SUPER ADMIN VIEW FIX */
/* align center date picker and add top padding */
.page-node-add-event.overlay #field-event-date-add-more-wrapper .form-wrapper {
	border: 1px solid #CCC;
	margin-left:0px;
}

.page-node-add-event.overlay .form-wrapper .fieldset-legend, label[for="edit-field-event-date-und-0-value2"] {
	display:none;
}

.page-node-add-event.overlay label[for="edit-body-und-0-value"] {
	top:0px;	
}

.page-node-add-event.overlay .form-submit {
	float:left;
}





/* -------- CALENDAR, EDIT TASK PAGE ----------  */

/* align center date picker and add top padding */
.page-node-edit #field-event-date-add-more-wrapper .form-wrapper {
	border: 0px;
	margin-left:407px;
	padding-top: 1.7em;
}

/*--- date picker block ---*/
.page-node-edit #edit-field-event-date-und-0-value {
	width:370px;	
}

.page-node-edit .form-wrapper .fieldset-legend, label[for=edit-field-event-date-und-0-value2] {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #888;
	position:absolute;
	right: 535px;
	margin-top: 43px;
}

.page-node-edit label[for=edit-field-event-date-und-0-value2] {
	margin-top: 5px;
}

.page-node-edit label[for=edit-field-event-date-und-0-value-datepicker-popup-0], 
.page-node-edit label[for=edit-field-event-date-und-0-value2-datepicker-popup-0], 
.page-node-edit label[for=edit-field-event-date-und-0-value-timeEntry-popup-1], 
.page-node-edit label[for=edit-field-event-date-und-0-value2-timeEntry-popup-1] {
	float:left;
}

.page-node-edit select.form-select{
	margin-right: 410px;
}

/*style label for group picker*/
.page-node-edit label[for=edit-field-group-und]{
	margin-right: 8px;
}

/* hide random border */
.page-node-edit .form-wrapper #edit-body-und-0-format{
	display:none;
}

/* adjust side textarea */
.page-node-edit #edit-body-und-0-value {
	width: 360px;
	height: 80px;
	margin-top: 5px	
}

/* hide "edit summary" link and other unneded labels */
.page-node-edit span.field-edit-link, 
.page-node-edit label[for=edit-field-event-date-und-0-value-datepicker-popup-0],
.page-node-edit label[for=edit-field-event-date-und-0-value-timeEntry-popup-1], 
.page-node-edit label[for=edit-field-event-date-und-0-value2-datepicker-popup-0],
.page-node-edit label[for=edit-field-event-date-und-0-value2-timeEntry-popup-1]
{
	display:none;
}
/* align textarea discripton */
.page-node-edit label[for=edit-body-und-0-value] {
	margin-right: 530px;	
}

/* text field style */
.page-node-edit #edit-field-event-date-und-0-value-datepicker-popup-0, 
.page-node-edit #edit-field-event-date-und-0-value-timeEntry-popup-1, 
.page-node-edit #edit-field-event-date-und-0-value2-datepicker-popup-0, 
.page-node-edit #edit-field-event-date-und-0-value2-timeEntry-popup-1 {
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	font-size: 13px;
	margin: 0px 0px 0x 2px;
	background: rgb(253, 253, 253);
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.page-node-edit #edit-field-event-date-und-0-value2 {
		padding: 0px 10px 0px 10px;
}


.page-node-edit label[for=edit-body-und-0-value] {
	position: relative;
	top: 56px;
}

.page-node-edit .form-submit {
	float:right;
	margin-right: 165px;	
	margin-top:7px;
}

/* remove spacing below the textarea */
.page-node-edit .form-textarea-wrapper {
	height: 80px;
}

/* adjust submit button*/
.page-node-edit #edit-submit {
	margin-left:0px;	
}

/* adjust delete button*/
.page-node-edit #edit-delete {
	margin-right:10px;
}



/* -------- CALENDAR, DELETE TASK PAGE ----------  */
.page-node-delete .confirmation {
		font-family: 'Droid Sans', sans-serif;
		text-align:center;
}

.page-node-delete #edit-submit {
	margin-left:0px;	
}

.page-node-delete #edit-submit:hover {
	color:red;	
}

#edit-cancel {
	/* The cancel button */
	display: inline-block;
	position: relative;
	color: #888;
	text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
	text-decoration: none;
	text-align: center;
	padding: 2px 12px;
	font-size: 12px;
	font-weight: 700;
	font-family: helvetica, arial, sans-serif;
	border-radius: 4px;
	border: 1px solid #bcbcbc;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
	margin-left:5px;
}

.page-node-delete #edit-cancel:hover{
	color: #555; 
}

/* Remove bottom padding */
.page-node-delete #content {
	padding-bottom:0px;
}
.page-node-delete #edit-actions {
	margin-top: 10px;
}
