/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background-color:#f4f4f4;
}

.not-logged-in .pwrapper {
	background-color:#f3f3f3;
	box-shadow:none;
	height:0px;
}


.pwrapper {
	width: 100%;
 	height: 63px;
	background-color: black;
	padding-bottom: 3px;
	-moz-box-shadow: 0px 1px 3px #3A3A3A;
	-webkit-box-shadow: 0px 1px 3px #3A3A3A;
	box-shadow: 0px 1px 3px #3A3A3A;
	min-width:1040px;
}




#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

#logo {
	background: url(../images/logo.png) no-repeat left top;
	display: block;
	width: 950px;
	height: 75px;
	margin: 0px 0px 20px 43px;
}

/*
 * Content
 */

#content {
	width:100%;
	float: left;
	line-height: 22px;
	padding: 15px 0px 15px 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #F7F7F7;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin:0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}



/* ---------------- page styling --------- */


.box {
	width: 100%;
	float: left;
	line-height: 22px;
	padding: 15px 0px 15px 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #F7F7F7;
}

.users-box {
	width: 100%;
	float: left;
	line-height: 22px;
	padding: 15px 0px 15px 0px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #F7F7F7;
}

.users-control {
	display: inline-block;
	margin: 50px 7px 3px 0px;
	float: right;
	text-transform: uppercase;
	width: 950px;
	font-size: 12px;
	text-align: right;
}

.user-control-disable {
	float: left;
	width: 200px;
	text-align: left;
	margin-left: 15px;
}

.user-image {
	display: inline-block;
	width: 200px;
	height: 173px;
}

.user-info {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 50px;
}

.user-labels {
	color: #D4D4D4;
	text-align: right;
	width: 250px;
}

.user-data {
	text-align: left;
	padding-left: 7px;
	width: 250px;
}

.new-group {
	text-align: right;
	font-size: 14px;
	text-transform: uppercase;
	margin: 40px 15px 0px 0px;
	
}
.new-group a:hover {
	color:#777777;
}

.main-box {
	display: block;
	float: left;
	width: 700px;
	margin: 0px 0px 0px 15px;
	border-right: thin solid #e4e4e4;
}
.main-box-wide {
	display: block;
	width: 800px;
	margin: 0px 0px 0px 15px;
}

.main-box-fullwidth {
	display: block;
	margin: 0px 0px 0px 15px;
}

h1 {
	font-family: 'Homenaje', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	color: #CCCCCC;
	margin: 0px 0px 15px 0px;
	padding: 0px;
	letter-spacing: -1px;
}

h2 {
	font-family: 'Homenaje', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 18px;
	color: #b1b1b1;
	margin: 5px 0px 5px 0px;
	padding: 3px 0px 3px 7px;
	letter-spacing: -1px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f1f1f1;
}

h3 {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
	font-size: 14px;
	text-align: left;
	font-weight: normal;
	margin: 0px 0px 0px 5px;
}

h4 {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
	font-size: 13px;
	text-align: left;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
	padding: 3px 0px 0px 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f1f1f1;
}

#personal-info {
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	margin: 15px 0px 0px 7px;
	text-align: left;
	line-height: 1.6em;
}

.bg-shadow {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	color: #888888;
	margin: 5px 0px 5px 0px;
	padding: 3px 0px 3px 7px;
	letter-spacing: -1px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f1f1f1;
}

.bg-no-shadow {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	color: #888888;
	margin: 5px 0px 5px 0px;
	padding: 3px 0px 3px 7px;
	letter-spacing: -1px;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	margin-bottom: 12px;
}

a:link {
	text-decoration: none;
	color: #6B7FA7;
}

a:visited {
	text-decoration: none;
	color: #717780;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a:active {
	text-decoration: none;
}

.messageButton.current {
	color: black;
	cursor: default;
}

.sub-header {
	margin: 0px 15px 0px 0px;
}

.right-sidebar {
	width: 210px;
	margin: 0px 10px 10px 10px;
	position: relative;
	float: right;
}

.content {
	margin: 0px 0px 0px 45px;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
}

.list-icon {
	list-style-image: url(../images/to-do.png);
}

/* ----------- END PAGE STYLING --------------- */



/* 404 Error Style */

.error-pages {
	font-size: 38px;
	color: rgba(196, 196, 196, 0.55);
	text-shadow: 0px 2px 3px white;
	text-transform:uppercase;
}


/*End of 404 Styling */


/*
 * Footer
 */

/* ---------- FOOTER --------------- */
#footer {
	font-family: 'Droid Sans', sans-serif;
	color: #D4D4D4;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
}
/* ---------- END FOOTER ------------ */

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/*add event action links */
.action-links {
	text-align:center;
	list-style-type: none;
	text-transform:uppercase;
	font-size:13px;
	margin-right:0px 10px 0px 10px;
}

/* paragraph small style */

p.small, div.small {
	font-size: 9px;
	margin-top: 0px;
	color: #A4A4A4;
	text-transform: uppercase;
	text-align:right;
	margin-right:50px;
	opacity:0.7;s
}
p.small span, div.small span  {
	color: red;
}

/* END PARAGRAPH STYLE */


/* --------- RUN REPORT PAGE ------------ */

.gen-report {
	font-family: 'Droid Sans', sans-serif;
	color: #3A3939;
	font-size: 0.8em;
	border:none;
	width: 770px;
	margin-top:35px;
}

.gen-report td:first-child {
    -moz-border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
}

.gen-report td:last-child {
    -moz-border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
}

.gen-report td:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.gen-report tr:nth-child(even) {background: #f6f6f6}
.gen-report tr:nth-child(odd) {background: rgba(253, 253, 253, 0.64)}

.gen-report tr:hover {
  background: rgba(253, 253, 253, 0.64);
  -o-transition: all 0.3s linear; 
  -webkit-transition: all 0.3s linear; 
  -moz-transition: all 0.3s linear; 
  -ms-transition: all 0.3s linear; 
  transition: all 0.3s linear; 
}


#head-report {
	font-family: 'Homenaje', sans-serif;
	text-transform: uppercase;
	font-size: 1.6em;
	color: rgba(41, 41, 41, 0.75);
	letter-spacing: -1px;
	text-shadow: 0px 1px 1px rgba(177, 177, 177, 0.79);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background-color: #EE5F5F;
	height: 30px;
}

.gen-report tr {
	height: 2.4em;
}



.report-name-col-left {
	padding-left:1px;
	width: 335px;
}

.report-name-col-right {
	border-radius: 5px;
	width:100px;
}

.report-nums-head {
	padding-left: 8px;
	width: 15px;
	font-size: 17px;
	color: rgba(104, 5, 5, 0.58);
}

.report-nums {
	font-size: 12px;
	padding-left:10px;
	color:rgba(214, 203, 203, 0.39);
}

/* ----------------------------- */


/* --------- USERS PAGE ------------ */
.page-admin-people .form-wrapper {
	border: 0px;
}
.page-admin-people .container-inline .fieldset-wrapper {
	margin-left:250px;
}

.page-admin-people #edit-filters {
	display:none;
}

.page-admin-people .container-inline .fieldset-legend {
	display:none;
}

.page-admin-people .form-submit {
	padding: 4px 12px;	
}

.page-admin-people ul.action-links li a {
	background-image: url('../images/add-user.png');
	background-repeat:no-repeat;
	padding-left: 17px;
}

.page-admin-people .action-links {
	position: relative;
	z-index: 1;
	width: 90px;
	height: 0px;
	right:30px;
	top: 20px;
}

/* style for user table */

.page-admin-people .table-select-processed {
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

.page-admin-people .table-select-processed thead {
	font-family: 'Droid Sans', sans-serif;
	font-size:13px;
	text-transform:uppercase;
}

.page-admin-people .table-select-processed tbody td:first-child {
	padding: 5px 0px 3px 15px;
	-moz-border-radius:7px 0 0 7px;
	-webkit-border-radius:7px 0 0 7px;
	border-radius:7px 0 0 7px;
}

.page-admin-people .table-select-processed tbody td:last-child {
	padding: 5px 0px 3px 32px;
	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
}

.page-admin-people .table-select-processed tbody tr:nth-child(odd) {background: #f6f6f6;}
.page-admin-people .table-select-processed tbody tr:nth-child(even) {background: rgba(253, 253, 253, 0.64);}

.page-admin-people .table-select-processed tbody tr:hover {
  background: rgba(253, 253, 253, 0.64);
}



.page-admin-people .table-select-processed tbody tr.even, tr.odd {
	letter-spacing: 0px;
	border: 0px;
}

.page-admin-people .table-select-processed thead th {
	border:0px;
}

.page-admin-people .table-select-processed tbody {
	font-size:13px;
}

.page-admin-people .form-type-checkbox {
	text-align:left;
}

.page-admin-people fieldset {
	font-size:13px;
}

.page-admin-people .action-links,.page-admin-people .container-inline {
	margin-left: 75px;	
}


/* --- USER EDIT PAGE --- */
/* advice on page restyle :) remove standard drupal styling 
	and start from scratch will be a lot easier.*/

.page-admin-people-create .password-strength {
	width:14em;
	position: relative;
	top: -25px;
}

.page-admin-people-create #edit-pass-pass1, .page-admin-people-create #edit-pass-pass2 {
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	width: 200px;
	font-size: 12px;
	margin: 0px 0px 0x 2px;
	background: rgb(253, 253, 253);
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float:right;
	margin-right:47px;
}	


.page-admin-people-create .password-strength-text {
	text-transform:uppercase;
	font-size:12px;
	position:relative;
	top:2px;
	margin-left:5px;
	width:56px;
}

.page-admin-people-create div.password-confirm {
	font-family: 'Droid Sans', sans-serif;
	text-transform:uppercase;
	font-size: 12px;
	float: none;
	margin-top: 0;
	position: relative;
	left: 610px;
	top: 27px;
}

.page-admin-people-create .password-suggestions.description, .page-admin-people-create .form-item-roles-3 {
	display:none !important;
}

.page-admin-people-create #edit-status {
	text-align: left;
	margin-left: 426px;
}

.page-admin-people-create .confirm-parent {
	width:680px;	
}

.page-admin-people-create label[for=edit-status], .page-admin-people-create label[for=edit-roles] {
	position:relative;
	right: 538px;
}

.page-admin-people-create .form-item-notify {
	position: relative;
	left: 427px;
	width: 200px;
}

.page-admin-people-create .form-item-field-know-paste-und-0-select-other-list {
	position:relative;
	right: 13px;
}

.page-admin-people-create label[for=edit-field-know-paste-und-0-select-other-list] .placeholder,
.page-admin-people-create label[for=edit-field-education-und-0-select-other-list] .placeholder  {
	font-style:normal;
	margin-right: 15px;
}

.page-admin-people-create .form-item-field-education-und-0-select-other-list {
	margin-left: 345px;
}
.page-admin-people-create  .container-inline-date {
	position: relative;
	left: 54px;
	width:320px;
}

.page-admin-people-create .date-processed {
	font-size:12px;
}

.page-admin-people-create #edit-field-know-paste-und-0-select-other-text-input, .page-admin-people-create #edit-field-education-und-0-select-other-text-input {
	font-family: 'Droid Sans', sans-serif;
	padding: 7px;
	width: 200px;
	font-size: 12px;
	margin: 0px 0px 0x 2px;
	background: rgb(253, 253, 253);
	border: 0;
	color: #777;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	right: 307px;
}

.page-admin-people-create #edit-field-birthday-und-0-value {
	width:220px;
}

.form-item label[for=edit-field-case-study-und-0-value] {
	display: block;
	width: 380px;
	position: relative;
	top: 70px;
	left: 40px;
	text-align: center;	
}

/* for the textarea align label in the midde*/
.form-item label[for=edit-field-other-comments-und-0-value],
.form-item label[for=edit-field-more-on-tutor-und-0-value],
.form-item label[for=edit-field-skills-and-interests-und-0-value],
.form-item label[for=edit-field-why-paste-und-0-value],
.form-item label[for=edit-field-exp-teaching-und-0-value] {
	position: relative;
	top: 57px;
}

/*aling submit button on the "add new user page" */
.page-admin-people-create #edit-submit {
	margin: 20px 0px 0px 430px;
	padding: 7px;
}
