/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background-color:#f4f4f4;
}
.pwrapper {
	width: 100%;
 	height: 63px;
	background-color: black;
	padding-bottom: 3px;
	-moz-box-shadow: 0px 1px 3px #3A3A3A;
	-webkit-box-shadow: 0px 1px 3px #3A3A3A;
	box-shadow: 0px 1px 3px #3A3A3A;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

#logo {
	background: url(../images/logo.png) no-repeat left top;
	display: block;
	width: 950px;
	height: 75px;
	margin: 0px 0px 20px 43px;
}

/*
 * Content
 */

#content {
	width:100%;
	float: left;
	line-height: 22px;
	padding: 15px 0px 15px 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #F7F7F7;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin:0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}



/* ---------------- page styling --------- */


.box {
	width: 100%;
	float: left;
	line-height: 22px;
	padding: 15px 0px 15px 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #F7F7F7;
}

.users-box {
	width: 100%;
	float: left;
	line-height: 22px;
	padding: 15px 0px 15px 0px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #F7F7F7;
}

.users-control {
	display: inline-block;
	margin: 50px 7px 3px 0px;
	float: right;
	text-transform: uppercase;
	width: 950px;
	font-size: 12px;
	text-align: right;
}

.user-control-disable {
	float: left;
	width: 200px;
	text-align: left;
	margin-left: 15px;
}

.user-image {
	display: inline-block;
	width: 200px;
	height: 173px;
}

.user-info {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 50px;
}

.user-labels {
	color: #D4D4D4;
	text-align: right;
	width: 250px;
}

.user-data {
	text-align: left;
	padding-left: 7px;
	width: 250px;
}

.new-group {
	text-align: right;
	font-size: 14px;
	text-transform: uppercase;
	margin: 40px 15px 0px 0px;
	
}
.new-group a:hover {
	color:#777777;
}

.main-box {
	display: block;
	float: left;
	width: 700px;
	margin: 0px 0px 0px 15px;
	border-right: thin solid #e4e4e4;
}
.main-box-wide {
	display: block;
	width: 800px;
	margin: 0px 0px 0px 15px;
}

.main-box-fullwidth {
	display: block;
	margin: 0px 0px 0px 15px;
}

h1 {
	font-family: 'Homenaje', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	color: #CCCCCC;
	margin: 0px 0px 15px 0px;
	padding: 0px;
	letter-spacing: -1px;
}

h2 {
	font-family: 'Homenaje', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 18px;
	color: #b1b1b1;
	margin: 5px 0px 5px 0px;
	padding: 3px 0px 3px 7px;
	letter-spacing: -1px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f1f1f1;
}

h3 {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
	font-size: 14px;
	text-align: left;
	font-weight: normal;
	margin: 0px 0px 0px 5px;
}

h4 {
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
	font-size: 13px;
	text-align: left;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
	padding: 3px 0px 0px 5px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f1f1f1;
}

#personal-info {
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	margin: 15px 0px 0px 7px;
	text-align: left;
	line-height: 1.6em;
}

.bg-shadow {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	color: #888888;
	margin: 5px 0px 5px 0px;
	padding: 3px 0px 3px 7px;
	letter-spacing: -1px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #f1f1f1;
}

.bg-no-shadow {
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	color: #888888;
	margin: 5px 0px 5px 0px;
	padding: 3px 0px 3px 7px;
	letter-spacing: -1px;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0));
	margin-bottom: 12px;
}

a:link {
	text-decoration: none;
	color: #6B7FA7;
}

a:visited {
	text-decoration: none;
	color: #717780;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a:active {
	text-decoration: none;
}

.messageButton.current {
	color: black;
	cursor: default;
}

.sub-header {
	margin: 0px 15px 0px 0px;
}

.right-sidebar {
	width: 210px;
	margin: 0px 10px 10px 10px;
	position: relative;
	float: right;
}

.content {
	margin: 0px 0px 0px 45px;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
	font-size: 0.9em;
}

.list-icon {
	list-style-image: url(../images/to-do.png);
}

/* ----------- END PAGE STYLING --------------- */



/* 404 Error Style */

.error-pages {
	font-size: 38px;
	color: rgba(196, 196, 196, 0.55);
	text-shadow: 0px 2px 3px white;
	text-transform:uppercase;
}


/*End of 404 Styling */


/*
 * Footer
 */

/* ---------- FOOTER --------------- */
#footer {
	font-family: 'Droid Sans', sans-serif;
	color: #D4D4D4;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
}
/* ---------- END FOOTER ------------ */

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/*add event action links */
.action-links {
	text-align:center;
	list-style-type: none;
	text-transform:uppercase;
	font-size:13px;
	margin-right:0px 10px 0px 10px;
}

/* paragraph small style */

p.small, div.small {
	font-size: 9px;
	margin-top: 0px;
	color: #A4A4A4;
	text-transform: uppercase;
	text-align:right;
	margin-right:50px;
	opacity:0.7;s
}
p.small span, div.small span  {
	color: red;
}

/* END PARAGRAPH STYLE */


/* --------- RUN REPORT PAGE ------------ */

.gen-report {
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
	border:none;
	width: 770px;

}

#head-report {
	font-family: 'Homenaje', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: rgba(155, 155, 155, 0.77);
	letter-spacing: -1px;
	text-shadow: 0px 1px 1px rgba(159, 159, 160, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background-color: #F1F1F1;
	height: 30px;
}

.report-name-col-left {
	padding-left:1px;
	width: 335px;
}

.report-name-col-right {
	border-radius: 5px;
	width:100px;
}

.report-nums-head {
	padding-left: 8px;
	width: 15px;
	border-radius: 5px;
	font-size: 17px;
	color:rgba(194, 194, 194, 0.58);
}

.report-nums {
	font-size:12px;
	padding-left:10px;
	color:rgba(170, 170, 170, 0.55);
}

/* --------- END RUN REPORT PAGE ------------ */